.carousel {
    margin: auto auto auto auto;

    width: 600px;
    height: 300px;

    border-radius: 7px;

    overflow: hidden;

    position: relative;
}

.carousel .container {
    height: 100%;
    width: 100%;

    position: relative;

    display: flex;
    transition: all 1s;
}

.carousel .container img {
    width: 100%;
    height: 100%;

    flex-shrink: 0;

    object-fit: cover;

}

.carousel .shift .btn {
    position: absolute;
    top: 0;
    bottom: 0;

    border: 1px solid rgba(100, 100, 100, 0.5);
    background-color: rgba(100, 100, 100, 0.5);
    color: #fff;


    font-size: 25px;
    font-weight: bold;

    user-select: none;
    transition: all 0.5s;

}

.carousel .shift .left {
    left: 0.1px;
}

.carousel .shift .left:hover {
    background-color: rgb(100, 100, 100, 0.9);
}

.carousel .shift .right {
    right: 0.1px;
}

.carousel .shift .right:hover {
    background-color: rgb(100, 100, 100, 0.9);
}

.carousel .bottom {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: max-content;
    display: flex;
    gap: 10px;
}

.carousel .bottom .indicator {
    height: 5px;
    width: 40px;
    border: 2px solid rgb(75, 75, 75);
    background-color: rgb(100, 100, 100);
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.5s;
}

.carousel .bottom .indicator:hover {
    opacity: 1;
}